table {
    width: 80%;
    min-width: 650px;
    max-width: 800px;
    margin: 0 auto;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}
caption {
    text-align: right;
    text-transform: uppercase;
    color: #666666;
    font-weight: 700;
}
th {
    text-transform: uppercase;
    color: #ffffff;
}
/* задаємо відтінок сірого кольору першій клітинці заголовків стовпчиків 
   у шапці та підвалі */
tr th:first-child{
    color:#666666;
}
/* всім клітинкам таблиці встановлюємо вирівнювання по центру по горизонталі 
   та внутрішній відступ зверху та знизу */
td, th {
    text-align: center;
    padding: 1em;
}
/* першій клітинці кожного рядка задамо вирівнювання за лівим краєм, 
   сірий колір і внутрішній відступ зліва */
tr td:first-child{
    text-align: left;
    color: #666666;
    padding-left: 0.7em;
}
/* вміст основних клітинок - елементи span - оформлюємо наступним чином: */
span {
    color: #ffffff;
    font-weight: 700;
    font-size: 1.2em;
    display: inline-block;
    border: 2px solid #ffffff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    margin: 10px;
}
/*кожному стовпчику, на які поділили таблицю, задаємо фоновий колір і ширину, 
  причому чотири стовпчики матимуть однакову ширину, а ширина першого стовпчика 
  обчислюватиметься автоматично*/
.col-1 {
    background-color: #dddddd;
    width: auto;
}
.col-2 {
    background-color: #17d0d3;
    width: 17%;
}
.col-3 {
    background-color: #8ac149;
    width: 17%;
}
.col-4 {
    background-color: #feca28;
    width: 17%;
}
.col-5 {
    background-color: #f44236;
    width: 17%;
}
thead {
    /* задаємо нижню межу для шапки таблиці */
    border-bottom: 1px solid #ebebeb;
}
tfoot {
    /* задаємо верхню межу для підвалу таблиці */
    border-top: 1px solid #ebebeb;
}