{% extends 'base.html' %}
{% block title %} My blog {% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center pt-4">My blog - list of posts</h1>
    <div class="row mt-n5">
        {% for post in posts %}
        <div class="col-md-6 col-lg-4 mt-5 wow fadeInUp" data-wow-delay=".2s"
             style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            <div class="blog-grid">
                <div class="blog-grid-img position-relative"><img alt="img"
                                                                  src="https://www.bootdey.com/image/360x200/808080/FFFFFF">
                </div>
                <div class="blog-grid-text p-4 card" style="max-width: 360px">
                    <h3 class="h5 mb-3"><a href="{% url 'blog:post-detail' post.id %}">{{ post.title | title }}</a></h3>
                    <h3 class="h6 mb-3">Category: {{ post.category.title }}</h3>
                    <p class="display-30">{{ post.body | truncatewords:30 | linebreaks }}</p>
                    <h3 class="h6 mb-3">Published: {{ post.publish|date:"D d M Y f" }}</h3>
                    <h3 class="h6 mb-3">Status: {{ post.status }}</h3>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>




<!--<h1 class="text-center">My blog - list of posts</h1>-->

<!--{% for post in posts %}-->
<!--    <div class="card" style="width: 18rem;">-->
<!--        <img src="..." class="card-img-top" alt="...">-->
<!--        <div class="card-body">-->
<!--            <a href="{% url 'blog:post-detail' post.id %}"><h2>{{ post.title }}</h2></a>-->
<!--            <p class="card-text">{{ post.status }} - {{ post.category.title }}</p>-->

<!--            <p class="card-text">{{ post.body | truncatewords:30 | linebreaks }}</p>-->
<!--            <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--        </div>-->
<!--    </div>-->
<!--{% endfor %}-->

{% endblock %}