{% extends 'base.html' %}

{% block title %}Вхід в акаунт{% endblock %}

{% block content %}
<div class="container">
    <h2>Вхід в акаунт</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Увійти</button>
    </form>

    <!-- Кнопка для відновлення пароля -->
    <p class="mt-3">
        Забули пароль? <a href="{% url 'password_reset' %}" class="btn btn-secondary">Відновити пароль</a>
    </p>
</div>
{% endblock %}
