/*1*/

.box > p {
    background-color: aqua;
    font-family: Impact;
}
.container p {
    border: 2px solid gray;
    color: deeppink;
}
span {
    font-family: Arial;
    font-weight: bold;
    font-style: italic;
    text-decoration: blueviolet;
    letter-spacing: 5px;
}

/*2*/
.notebox  {
    border: 5px solid gray;
    padding: 5px;
    margin-top: 20px;

}

.warning {
    border-color: orange;
    font-weight: bold;
}

.danger {
    border-color: red;
    font-weight: bold;
}


/*3*/
li[class] {
    font-size: 200%;
}
li[class="a"] {
    background-color: yellow;
}
li[class*="a"] {
    color: red;
}