<!DOCTYPE html>
<html lang="uk">
<head>
    <style>
        footer {
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
          text-align: center;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Управління предметами{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'subject_list' %}"><img src="{{MEDIA_URL}}local_images/logo.png" alt=""
                                                                 width="50px" style="margin-right: 10px">Управління
        предметами</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <!-- Кнопка для профілю користувача, якщо він авторизований -->
        <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'subject_create' %}">Додати предмет</a>
            </li>
            {%endif%}
        </ul>

        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'profile' %}">Профіль</a>  <!-- Кнопка профілю -->
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Вийти</a>
            </li>

        {% else %}
        <!-- Кнопки для реєстрації та входу -->
        
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Реєстрація</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Увійти</a>
            </li>
        </ul>
        {% endif %}


    </div>
</nav>

<!-- Відображення повідомлень -->
{% for message in messages %}
<div class="alert alert-{% if message.level_tag == 'error' %}danger{% else %}{{ message.level_tag }}{% endif %}"
     role="alert">
    {{ message }}
</div>
{% endfor %}

<div class="container mt-4">
    {% block content %}
    {% endblock %}
</div>

<footer class="text-center mt-4 py-4 bg-light">
    <p>&copy; 2024 Сайт з управління предметами</p>
    <p>Поточна дата: {{current_date}}</p>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
